<!-- footer -->
<!-- ============================================================== -->
<div class="footer4 b-t spacer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 m-b-30">
                <h5 class="m-b-20">Email</h5>
                <p>Office : <a href="#" class="link">info@wrappixel.com</a> <br />Site : <a href="#"
                        class="link">wrapkit@wrappixel.com</a></p>
            </div>
            <div class="col-lg-3 col-md-6 m-b-30">

            </div>
            <div class="col-lg-3 col-md-6 m-b-30">

            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="m-b-20">Social</h5>
                <div class="round-social light">
                    <!--<a href="#" class="link"><i class="fa fa-facebook"></i></a>-->
                    <a href="#" class="link"><i class="fa fa-twitter"></i></a>
                    <a href="mailto:sera.mohssine@gmail.com" class="link"><i class="fa fa-google"></i></a>
                    <a href="https://github.com/MohssineSERRAJI" class="link"><i class="fa fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/serraji-mohssine/" class="link"><i
                            class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="f4-bottom-bar">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex font-14">
                        <div class="m-t-10 m-b-10 copyright">All Rights Reserved by Mohssine.</div>
                        <div class="links ml-auto m-t-10 m-b-10">
                            <a href="#" class="p-10 p-l-0">Terms of Use</a>
                            <a href="#" class="p-10">Legal Disclaimer</a>
                            <a href="#" class="p-10">Privacy Policy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End footer -->